<div class="section">
    <div class=container>
<div class="columns is-centered">
<div class="column is-one-third">
<%= link_to "View My Bookings", all_bookings_path, class:"button is-danger is-centered" %>
<div class="box">
<h2 class="title">Add a new Payment Instrument</h2>

<%= form_for(:payment, :url => { :action => "create" }) do |f| %>

  <%= f.hidden_field :customer_id, :value => current_customer.id %>
  <div class="content">
    <%= f.text_field :card_type, autofocus: true, autocomplete: "card_type", class: "input is-primary", placeholder: "Card Type" %>
  </div>

  <div class="content">
    <%= f.text_field :card_no, autocomplete: "card_no", class: "input is-primary", placeholder: "Card Number" %>
  </div>

  <div class="content">
    <%= f.date_field :expiry_date, autocomplete: "expiry_date", class: "input is-primary", placeholder: "Expiry_date" %>
  </div>

  <div class="content">
    <%= f.password_field :cvv, autocomplete: "cvv", class: "input is-primary", placeholder: "CVV" %>
  </div>

  <div class="content">
    <%= f.submit "Add Payment Instrument", class: "button is-link" %>
  </div>
<% end %>
</div>
</div>
</div>
       
    <div class="hero">
    <div class="columns hero-body is-centered">
    <div class="column is-full">
	<table class="table is-bordered is-fullwidth">
		<thead>
			<tr>
      				<th>Customer Id</th>
      				<th>Card Type</th>
      				<th>Card Number</th>
      				<th>Expiry Date</th>
    			</tr>
		</thead>
		<tbody>
        	<% @payments.each do |payment| %>
			<tr>
				<th><%= payment.customer_id %></th>
				<th><%= payment.card_type %></th>
				<th><%= payment.card_no %></th>
				<th><%= payment.expiry_date %></th>
			</tr>
		<% end %>
		</tbody>
	</table>
    </div>
    </div>
    </div>
