<p id="notice"><%= notice %></p>

<p>
  <strong>Card type:</strong>
  <%= @payment.card_type %>
</p>

<p>
  <strong>Card no:</strong>
  <%= @payment.card_no %>
</p>

<p>
  <strong>Expiry date:</strong>
  <%= @payment.expiry_date %>
</p>

<p>
  <strong>Cvv:</strong>
  <%= @payment.cvv %>
</p>

<%= link_to 'Edit', edit_payment_path(@payment) %> |
<%= link_to 'Back', payments_path %>
